:root {
    /* #f0f0f0 in decimal RGB */
    --color: #12265a;
    --grey:  #70747f;
  }

body {
    font-family: 'Nunito', sans-serif;
    /* font-size: 3rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text7 {
    font-size: 1.1rem;
}

a {
    margin: 0rem 1.2rem !important;
    text-decoration: none !important;
}

.kid {
    font-size: 1.7rem;
    font-weight: 900;
    color: #fa9db7;
    font-family: 'Nunito', sans-serif;
}

.custom-nav-link {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color);
    font-family: 'Nunito', sans-serif;
    transition: 0.4s;
}

.main {
    background-image: url('https://mobirise.com/extensions/kidsm4/assets/images/school.jpg');
    padding-top: 180px;
    padding-bottom: 180px;
}

.feature {
    padding-top: 60px;
    padding-bottom: 70px;
}

.course {
    font-family: 'Nunito', sans-serif;
    font-size: 6rem;
    color: var(--color);
    font-weight: 900;
}

.about {
    padding-top: 60px;
    padding-bottom: 105px;
    background-color: #f2f6ff;
}

.count {
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #88d4f2;
}

.text {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.featuretexttitle {
    font-size: 1.75rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.font11rem {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    line-height: 2;
}

.grey {
    color: var(--grey);
}

.box {
    animation-name: fade_in;
    opacity: 1;
  }

.container1 .box {
    animation: fade_in_1 3s ease-out;
  }
  
  @keyframes fade_in_1 {
    0%, 10% {
      opacity: 0;
      transform: translateY(8rem) scale(0);
    }
    30%, 100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .card1 {
    background: #fa9db7;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.2rem;
  }

  .card2 {
    background: #45b3df;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.2rem;
  }
  .card3 {
    background: #ffc85b;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.2rem;
  }

  .photosize {
    width: 100%;
    height: 400px;
    border-radius: 30px;
  }


.btn {
    padding: 0.7rem 2.7rem;
    border-radius: 35px;
  }
  .btn-sm {
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
  }
  .btn-md {
    padding: 0.8rem 2rem;
    border-radius: 0px;
  }
  .btn-lg {
    padding: 0.8rem 2rem;
    border-radius: 0px;
  }
  .bg-primary {
    background-color: #ffc85b !important;
  }
  .bg-success {
    background-color: #00b15c !important;
  }
  .bg-info {
    background-color: #12265a !important;
  }
  .bg-warning {
    background-color: #fa9db7 !important;
  }
  .bg-danger {
    background-color: #444444 !important;
  }

.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}